{% extends "blog/base.html" %}

{%block content%}



post Title: {{post.title}}
post Body:{{post.body}}
post Creation:{{post.creation}}
post Update:{{post.update}}




{%for eachcomment in comments%}

Author: {{eachcomment.author}}
Body:{{eachcomment.body}}
Creation:{{eachcomment.creation}}
Update:{{eachcomment.update}}

<div>
<a href="/blog/comments/{{eachcomment.id }}/edit">
Edit Comment
</a>
</div>


{%endfor%}

<h3>New comment:</h3>

<div>
<form method='post' action="">
{{ form.as_p }}
<input type='submit' name='Submit'>
</form>
</div>



{%endblock%}

